<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="djwdj.my3T" >

    <application
        android:icon="@drawable/t"
        android:label="my3T"
		android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
            android:name=".dj"
            android:label="my3T" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service android:name=".f" android:enabled="true"
			android:exported="true" ></service>
    </application>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	
</manifest>
